@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */ /* Rimuovi questa linea */
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
    margin-right: 2rem; /* Aggiungi un margine destro per creare un po' di spazio */
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ff0000;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}
.youtube-video {
    margin-left: 70px; /* Adjust this value as needed */
    margin-top: 80px;
}
.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 15px; /* Aggiungi il border-radius qui */
    background-color: #333030;
    border-color: #ff0000;
    cursor: pointer;
    transition: all 5.0s ease;
    display: flex;
    align-items: center; /* Allinea verticalmente al centro */
}

.btn img {
    margin-right: 10px; /* Aggiunge spazio tra l'icona e il testo */
}

.discord-icon {
    width: 50px; /* Imposta la larghezza desiderata per l'icona */
    height: 50px; /* Imposta l'altezza desiderata per l'icona */
    margin-right: 50px; /* Aggiunge spazio tra l'icona e il testo */
}

.img_lista_servers {
    position: relative;
    left: 9%;
    top: -5%;
    width: 250px; /* Imposta la larghezza desiderata per l'icona */
    height: 250px; /* Imposta l'altezza desiderata per l'icona */
    margin-right: 50px; /* Aggiunge spazio tra l'icona e il testo */
}

.btn:hover{
    background-color: #ffffff;
    border-color: #ff0000;
    border-radius: 500px; /* Aggiungi il border-radius qui */
}

.btn h5{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover h5{
    color: #000000;
}

.contenuto h5{
    color: #ffffff;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto; /* Sposta le voci del menu a destra */
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.partners{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.cosa_offriamo{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.home{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.server_creati_dal_team{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #ff0800;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    justify-content: center; /* Centra orizzontalmente il contenuto */
}

header .contenuto h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

.server_creati_dal_team h2 {
    left: 25%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #18181B;
}

.cosa_offriamo h2 {
    left: 25%;
}

header .contenuto h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .contenuto h1, header .contenuto h3 {
    color: #fff;
    display: inline; /* Imposta gli h1 e h3 come elementi inline */
    white-space: nowrap; /* Impedisce il wrapping del testo */
}


header .contenuto p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #141413;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.lista_cosa_offriamo{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.centered-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered-cards .card {
    margin: 1rem; /* Spazio tra le card */
    flex: 1;
    max-width: 300px; /* Larghezza massima delle card */
}


.lista_cosa_offriamo .card{
    background-color: #27272a;
    padding: 1rem;
    border: 3.5px solid transparent;
    border-radius: 15px;
    transition: all 1.0s ease;
}

.lista_cosa_offriamo .card:hover{
    background-color: #323232;
    border-color: #ff0000;
}

.lista_cosa_offriamo .card span{
    display: inline-block;
    background-color: #ff0000;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 15px;
}

.lista_cosa_offriamo .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.lista_cosa_offriamo .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.lista_cosa_offriamo .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.lista_cosa_offriamo .card a:hover{
    color: #ff0000;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.lista_cards{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.lista_cards .card{
    padding: 3rem 2rem;
    background-color: #3d3d44;
    display: flex;
    flex-direction: column;
    border: 3.5px solid transparent;
    border-radius: 15px;
    transition: all 1.0s ease;
}

.lista_cards .card:hover{
    background-color: #323232;
    border-color: #ff0000;
}

.lista_cards .card .contenuto{
    flex: 1;
    margin-bottom: 2rem;
}

.lista_cards .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.lista_cards .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.lista_cards .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.lista_cards .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.lista_cards .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.lista_cards .card button:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.copyright a{
    color: #ff0000;
}

@media (max-width: 1200px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .youtube-video {
        margin: 0 auto;
    }

    .lista_cosa_offriamo, .lista_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .lista_cosa_offriamo .card, .lista_cards .card {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .lista_cosa_offriamo, .lista_cards {
        grid-template-columns: 1fr;
    }

    .lista_cosa_offriamo .card span, .lista_cards .card .contenuto {
        display: block;
        margin: 0 auto;
    }
}